target/
debug/
**/*.rs.bk
*.pdb
decrypted/abc.txt
decrypted/cba.txt
encrypted/save.bin
encrypted/test.bin
input/input.txt
AES_Simple_x64_2019.exe
VBinDiff.exe
labs_ukr.pdf
encrypted/ehorov.bin
test_decrypted.bin
test_encrypted.bin
test_input.bin
encryption_time_plot.png
input/1GB.bin
input/new output.txt
input/output.txt
output.txt
decrypted/win.txt
encrypted/win.txt
input/new_output.txt
encrypted/gig_test
input/100MB-TESTFILE.ORG.pdf
